html, body {
  background: rgb(43, 156, 212);
  color: #fff;
  font-size: 16px;
  margin: 0;

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  table {
    border-width: 2px;
    background: #fff;
    color: #000;

    tr, td {
        padding: 4px;
        text-transform:capitalize;
      }
  }

  .centre {
    h3 {
      text-align: center;
    }
  }

  .home {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: fadein 1s;

    #searchBox {
      margin-bottom: 20px;

      * {
        margin: 0 5px;
      }
      input[type='text'] {
        width: 200px;
        height: 25px;
        border-radius: 15px;
        padding-left: 10px;
        background: white !important;

        &:focus{
          outline: none;
        }
      }

      input[type='button'] {
        background: rgb(227, 69, 216);
        color: white;
        border: none;
        border-radius: 5px;
        width: 80px;
        height: 25px;

        &:hover {
          transform: scale(1.1);
          background: rgb(224, 33, 211);
        }

      }
    }

    #pokemons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      width: 97vw;
      margin-bottom: 40px;
      margin-left: 20px;

      .selected-pokemon {
        background: rgb(11, 135, 198);
      }

      div {
        width: 120px;
        height: 30px;
        border: .5px solid rgba(0, 0, 0, 0.26);
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background: rgb(11, 135, 198);
          cursor: pointer;
          transform: scale(1.1);
        }

        span {
          text-transform:capitalize;
        }
      }
    }

    .navButttons {
      width: 320px;
      margin: 0 auto;
      input {
        width: 120px;
        height: 30px;
        border: none;
        border-radius: 4px;
        background: rgb(227, 69, 216);
        color: #fff;
        margin: 10px 10px;
        font-size: 1.1rem;

        &:hover {
          cursor: pointer;
          background: rgb(224, 33, 211);
          transform: scale(1.1);
        }
      }
    }

    #pokemon-specs {
      width: 80vw;
      height: 100vw;

      animation: fadein 1s;

      h2 {
        text-transform:capitalize;
      }

      h3 {
        text-align: center;
      }

      #titles {
        font-size: 1.1rem;
      }

      #moves {
        max-height: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        div {
          width: 160px;
          height: 30px;
          text-transform:capitalize;
        }
      }
    }
  }

  #nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    background: rgb(52, 159, 213);
    height: 40px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    *{
      text-decoration: none;
      // margin: 0 10px;
      color: #fff;
      padding: 10px;

      &:hover {
        background: rgb(73, 177, 230);
      }
    }
  }

  #movesPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0;

    animation: fadein 1s;

    div.names {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      div {
        width: 160px;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform:capitalize;
        background: rgb(28, 148, 208);
        box-shadow: 3px -2px 2px rgba(50, 50, 50, 0.75);

        &:hover {
          transform: scale(1.1);
          background: rgb(48, 170, 231);
          cursor: pointer;
        }
      }
    }
    .navButttons {
      margin: 0 auto;
      position: fixed;
      bottom: 10px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      input {
        width: 120px;
        height: 30px;
        border: none;
        border-radius: 4px;
        background: rgb(227, 69, 216);
        color: #fff;
        margin: 10px 10px;
        font-size: 1.1rem;

        &:hover {
          cursor: pointer;
          background: rgb(224, 33, 211);
          transform: scale(1.1);
        }
      }
    }
  }

  #details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;

    animation: fadein 1s;

    p, h4 {
      margin-left: 20px;
    }

    .tables {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      * {
        margin: 20px;
      }
    }
  }

  #berry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    animation: fadein 1s;

    input {
      background: rgb(227, 69, 216);
      color: white;
      border: none;
      border-radius: 5px;
      width: 80px;
      height: 25px;
      margin: 20px;

      &:hover {
        transform: scale(1.1);
        background: rgb(224, 33, 211);
      }

    }
  }
}
