html, body {
  background: rgb(43, 156, 212);
  color: #fff;
  font-size: 16px;

  .home {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #searchBox {
      margin-bottom: 20px;
      
      * {
        margin: 0 5px;
      }
      input[type='text'] {
        width: 200px;
        height: 25px;
        border-radius: 15px;
        padding-left: 10px;
        background: white !important;

        &:focus{
          outline: none;
        }
      }

      input[type='button'] {
        background: rgb(227, 69, 216);
        color: white;
        border: none;
        border-radius: 5px;
        width: 80px;
        height: 25px;

        &:hover {
          transform: scale(1.1);
          background: rgb(224, 33, 211);
        }

      }
    }

    #pokemons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      width: 97vw;
      margin-bottom: 40px;

      .selected-pokemon {
        background: rgb(11, 135, 198);
      }

      div {
        width: 120px;
        height: 30px;
        border: .5px solid rgba(0, 0, 0, 0.26);
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background: rgb(11, 135, 198);
          cursor: pointer;
          transform: scale(1.1);
        }

        span {
          text-transform:capitalize;
        }
      }
    }

    .navButttons {
      width: 320px;
      margin: 0 auto;
      input {
        width: 120px;
        height: 30px;
        border: none;
        border-radius: 4px;
        background: rgb(227, 69, 216);
        color: #fff;
        margin: 10px 10px;
        font-size: 1.1rem;

        &:hover {
          cursor: pointer;
          background: rgb(224, 33, 211);
          transform: scale(1.1);
        }
      }
    }

    #pokemon-specs {
      width: 80vw;
      height: 100vw;

      h2 {
        text-transform:capitalize;
      }

      #titles {
        font-size: 1.1rem;
      }

      #moves {
        max-height: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        div {
          width: 160px;
          height: 30px;
          text-transform:capitalize;
        }
      }
    }
  }
}
